.welcome {
  font-size: 70px;
  color: rgba(79, 64, 179, 1);
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  background-color: rgba(239, 68, 98, 0.6);
  border-radius: 15px;
  margin-top: 10px;
  height: 400px;
}
.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.pageError {
  font-size: 60px;
}
.pageNotFound {
  font-size: 35px;
}
.homeErrBound {
  text-decoration: none;
  font-size: 20px;
}
.homeError {
  text-decoration: none;
  font-size: 20px;
}
.homePage {
  padding-top: 10px;
  padding-left: 10px;
}
ul {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}
li {
  text-decoration: none;
  font-size: 30px;
  border: solid rgb(97 95 211 / 76%);
  border-radius: 10px;
  padding: 10px;
}
nav {
  text-decoration: none;
}
.counter {
  background-color: #ffc0cb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 20px;
}
.toCounter:hover {
  color: rgba(35, 33, 172, 0.801);
  font-size: 23px;
}
.toPage:hover {
  color: rgba(35, 33, 172, 0.801);
  font-size: 23px;
}
.toError:hover {
  color: rgba(22, 90, 235, 0.801);
  font-size: 23px;
}
.toCounter {
  text-decoration: none;
}
.toPage {
  text-decoration: none;
}
.toError {
  text-decoration: none;
}
h1 {
  margin-top: 5px;
}
.counter-app-header {
  font-size: 30px;
}

.counter-button {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}
.linkHome {
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}
.count-style {
  margin-left: 100px;
  font-size: 25px;
  padding-top: -10px;
  margin-bottom: 5px;
}
.counter button {
  margin: 10px;
  padding: 10px 20px;
  border: 4px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  width: 130px;
}

.button-counter {
  border-radius: 10px;
}

.counter button:hover {
  background-color: rgba(35, 33, 172, 0.801);
}

.counter button:active {
  background-color: rgba(35, 33, 172, 0.801);
}
.input {
  height: 35px;
  width: 150px;
  border: 4px solid;
  border-radius: 15px;
  border-color: rgba(97, 95, 211, 0.801);
  margin-bottom: 30px;
}
.linkHome:active {
  color: rgba(230, 73, 112, 0.801);
}
